.container {
    width: 100%;
    height: calc(100vh - 74px);

}

.slider {
    width:100%;
    height: 100%;
    overflow: hidden;
}

.slides {

    display: flex;
    flex-direction: row;
    width: calc(100vw * 3);
    height: 80%;
    animation: glisse 25s infinite;
    z-index: -1;
    background-color: burlywood;

}

.slide1 {
    width:100%;
    background: url("../../assets/hbn.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    width:100%;
    background: url("../../assets/zrd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide3 {
    width: 100%;
    background: url("../../assets/cuisine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    43% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }
    76% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }

}
