
.container {
    width: 100%;
    height: calc(100vh - 74px);

}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {

    display: flex;
    flex-direction: row;
    width: calc(100vw * 3);
    height: 80%;
    padding-top: 5%;
    animation: glisse 27s infinite;
    z-index: -1;

}

.slide1 {
    width: 80%;
    background: url("../../assets/hbn.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    width: 80%;
    background: url("../../assets/zrd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide3 {
    width: 80%;
    background: url("../../assets/cuisine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    43% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }
    76% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }

}

.separate1 {

    background: #ecc9b6;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: #DE8888;
    margin: 0 20px 50px 0;
    padding: 40px;

}

p {

    padding: 20px 50px;
    text-align: center;
    font-size: 1.3em;
    line-height: 35px;
}

.elem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.elem div {
    width: 30%;
}

.element {
    height: 80%;
    width: 80%;
    margin-bottom: 20px;
}

.element:hover {
    transform: scale(0.8);
    height: 80%;
    width: 80%;
    opacity: 50%;
}

