.footer {
    background-color: #ecc9b6;
    font-weight: bold;
    font-size: 1.5em;
    display:flex;
}

.cont {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.element3 {

    margin: auto;
}

.imageFooter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20%;
    padding: 10px;
    margin: auto;
}

.mentions {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-self: center;
    margin: auto;
}

.num {

    line-height: 105px;
}
