
.NavBar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: bold;
    background: #ecc9b6;
    height: 80px;
    font-size: 1.5em;
}

.NavBar ul li {
    display: inline-block;
    padding: 0 3em;
    line-height: 3em;
}

.NavBar ul li:hover {
    background: #DE8888;
}

.active div{

    color: #7D634E;
}
