@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #202020;
}


.generalTitle {

    font-family: 'Comfortaa', cursive;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    color: #DE8888;
    z-index: 1;

}

.generalTitle2 {

    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #DE8888;
    z-index: 1;
    margin: 40px;
}

#generalBigTitle {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    color: #DE8888;
    z-index: 1;
}



 p {

    padding: 20px 50px;
    text-align: center;
    font-size: 1em;
    line-height: 30px;
     width: 80%;
     margin: auto;

}

body {
    background-color: whitesmoke;

}

a:link, a:visited {

    text-decoration: none;
    color: #202020;
    outline: none;
}

h1 {

    text-align: center;
    color: #DE8888;

}
